.headline{
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.chapter-headline{
  font-family: Roboto, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.byline{
  font-family: Roboto, Arial, sans-serif;
  font-size: .9em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.caption{
  font-family: Roboto, Arial, sans-serif;
  font-size: .8em;
  font-weight: 300;
  color: #808080;
  margin-bottom: 1;
}

p{
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .05em;
  line-height: 180%;
}

.red{
  color:#f23030;
}

/*Area around image including caption */
div.image-centered{
  max-width: 100%;
}

/*Actual image styling */
.image1{
  max-width: 100%;
}

/* container for hero image */
.hero-container{
  position: relative;
  text-align: center;
  color:#fff;
}

/* hero image class */
.hero-image{
  width: 100%;
}

/* overlay class*/
.overlay{
  position:absolute; /* specifies exact position*/
  top:20%; /* 20% down from top of div*/
  width:100%;
  background-color: #000;
  opacity: .7;
}

/* header for hero image*/
.hero-hed{
  font-family: 'Merriweather', Georgia, serif;
  font-size: 6em;
  color:#fff;
  margin: 0 auto;
  padding-bottom: 10px;
}

/*sub header for hero image*/
.hero-sub{
  font-family:'Roboto', Arial, sans-serif;
  font-stretch: condensed;
  font-size:.25em;
}

.navbar{
  font-family: Roboto, Arial, sans-serif;
}

/* Nav at top */
.nav-top{
  color:white;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}

.footer-copyright{
  background-color: black;
  margin-top: .5em;
  margin-bottom: .5em;
}
.footer-text{
  font-family:'Roboto', Arial, sans-serif;
  color: white;
}

.text-centered{
  text-align: center;
}

/* Media queries */
@media (max-width:1000px){

  .hero-hed {
    font-size:5em;
  }
}

@media (max-width:768px){

  .hero-hed {
    font-size:4em;
  }
}

@media (max-width:600px){

    .hero-hed {
      font-size:3em;
    }
}
