#headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: arial;
  font-stretch: condensed;
}
/* font-family: 'Quattrocento', Georgia, serif; */
/* font-family: 'Roboto Condensed', Arial, sans-serif; */
